build/
nbproject/
.settings/
.idea
*.iml
*~
error.txt
/resources/plugins/05/resources/bhumanpath.cfg
/resources/plugins/05/B-Human/.project
/resources/plugins/05/B-Human/.classpath
/resources/plugins/05/B-Human.eclipse
/resources/plugins/05/.metadata
resources/plugins/05/B-Human/bin
